.content {
  text-align: center;
  width: 80%;
  margin: auto;
}

.text2left {
  text-align: left;
}

.sequntsegment {
  width: 40%;
  display: inline-block;
}

.sequntdivider {
  width: 6%;
  display: inline-block;
  text-align: center;
}

#f1 {
  width: 60%;
}
