{{ define "content" }}
<!-- <h2>Dimostratore</h2> -->
<div>
  <h3>Formula</h3>
  <input id="f1" type="text" value="" onblur="render('f1', 'f1render')"><div id="f1render" class="latex"></div>
</div>
<button onclick="render('f1', 'f1render');prove()">Prove</button>
<div>
  <h2>Solution</h2>
  <ol id="solution">
  </ol>
</div>
<div>
  <h2>Symbols</h2>
  <div class="text2left">
    <ul>
      <li>Not: \lnot</li>
      <li>Or: \lor</li>
      <li>And: \land</li>
      <li>Implies: \to</li>
      <li>Iff: \iff</li>
      <li>For all: \forall</li>
      <li>Exists: \exists</li>
      <li>Box: \Box</li>
      <li>Diamond: \Diamond</li>
    </ul>
  </div>
  <h2>Separators</h2>
  <div class="text2left">
    <ul>
      <li>(, ), [, ], {, }</li>
    </ul>
  </div>
</div>
<script src="/static/js/index.js"></script>
{{ end }}
