{{ define "content" }}
<div>
  <h3>Formula</h3>
  <div style="width:100%">
    <input id="f1" type="text" value="" onkeydown="render('f1', 'f1render')">
    <button onclick="render('f1', 'f1render');prove()">Prove</button>
  </div>
  <h4><div id="f1render" class="latex"></div></h4>
</div>
<div>
  <h3>Relation</h3>
  <div style="display:inline-flex">
    <input type="checkbox" name="serial" value="1" checked>Serial<br>
    <input type="checkbox" name="reflexive" value="0">Reflexive<br>
    <input type="checkbox" name="symmetric" value="0">Symmetric<br>
    <input type="checkbox" name="transitive" value="0">Transitive<br>
    <input type="checkbox" name="euclidean" value="0">Euclidean<br>
  </div>
</div>
<div>
  <h3 id="soltitle" >Solution</h3>
  <ul style="list-style:none; padding:0;">
    <li class="">
      <div class="sequntdivider">Name</div>
      <div class="sequntsegment">Left</div>
      <div class="sequntdivider"></div>
      <div class="sequntsegment">Right</div>
      <div class="sequntdivider">Justification</div>
    </li>
  </ul>
  <ul id="solution" style="list-style:none; padding:0;">
  </ul>
</div>
<div>
  <h3>Symbols</h3>
  <div class="text2left">
    <ul>
      <li>Not: \lnot</li>
      <li>Or: \lor</li>
      <li>And: \land</li>
      <li>Implies: \to</li>
      <li>Iff: \iff</li>
      <li>For all: \forall</li>
      <li>Exists: \exists</li>
      <li>Box: \Box</li>
      <li>Diamond: \Diamond</li>
    </ul>
  </div>
  <h3>Separators</h3>
  <div class="text2left">
    <ul>
      <li>(, ), [, ], {, }</li>
    </ul>
  </div>
</div>
<script src="/static/js/index.js"></script>
{{ end }}
